<h1 class="title is-1">Mod list</h1>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th>Mod internal name</th>
      <th>Mod title</th>
      <th>Version</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>
        <a><fa-icon class="fa-fw" [icon]="addIcon" (click)="addMod()"></fa-icon></a>
      </td>
      <td>
        <input class="input" type="text" placeholder="Name" [(ngModel)]="addModName" (input)="bufferedPrefetchModToAdd(addModName)">
      </td>
      <td>
        <input class="input is-static" type="text" [value]="displayPrefetchTitle()" readonly>
      </td>
      <td>
        <div class="dropdown">
          <div class="dropdown-trigger">
            <button class="button">
              <span>{{getSelectedVersionToAdd()}}</span>
              <span class="icon is-small">
                <fa-icon class="fa-fw" [icon]="dropdownArrowIcon"></fa-icon>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item" *ngFor="let version of getVersionsToAdd()" (click)="setSelectedVersionToAdd(version)">
                {{version}}
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let modInfo of modInfoList; let i = index">
      <app-mod-object [(modInfo)]="modInfoList[i]"></app-mod-object>
    </tr>
  </tbody>
</table>

<button id="save-button" class="button is-success" (click)="pushModList()" [ngClass]="{'is-loading': saveButtonLoading}">
  <span class="icon is-small">
    <fa-icon class="fa-fw" [icon]="showTickIcon ? tickIcon : saveIcon"></fa-icon>
  </span>
  <span>Save</span>
</button>
