<h1 class="title is-1">Mod list</h1>

<div *ngIf="!ready">
  <br>
  <br>
  <progress class="progress is-large is-info"></progress>
  <br>
  <br>
</div>

<div *ngIf="ready">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Mod internal name</th>
        <th>Mod title</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modInfo of modInfoList; let i = index" app-mod-object [(modInfo)]="modInfoList[i]" (removeModInfo)="removeMod($event)"></tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <a class="icon"><fa-icon class="fa-fw" [icon]="addIcon" (click)="addMod()"></fa-icon></a>
        </td>
        <td>
          <input class="input" type="text" placeholder="Name" [(ngModel)]="addModName" (input)="bufferedPrefetchModToAdd(addModName)">
        </td>
        <td>
          <input class="input is-static" type="text" [value]="displayPrefetchTitle()" readonly>
        </td>
        <td>
          <div class="select" style="min-width: 50%;">
            <select style="min-width: 100%;">
              <option class="dropdown-item" *ngFor="let version of getVersionsToAdd()" (click)="setSelectedVersionToAdd(version)">
                {{version}}
              </option>
            </select>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

  <button id="save-button" class="button is-success" (click)="pushModList()" [ngClass]="{'is-loading': saveButtonLoading}">
    <span class="icon is-small">
      <fa-icon class="fa-fw" [icon]="showTickIcon ? tickIcon : saveIcon"></fa-icon>
    </span>
    <span>Save</span>
  </button>
</div>
