<h1 class="title is-1">Mod list</h1>

<div *ngIf="!ready">
  <br>
  <br>
  <progress class="progress is-large is-info"></progress>
  <br>
  <br>
</div>

<div *ngIf="ready" class="is-clipped">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Mod internal name</th>
        <th>Mod title</th>
        <th>Link</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modInfo of modInfoList; let i = index" app-mod-object [(modInfo)]="modInfoList[i]" (removeModInfo)="removeMod($event)"></tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <a class="icon"><fa-icon class="fa-fw" [icon]="addIcon" (click)="addMod()"></fa-icon></a>
        </td>
        <td>
          <input class="input" type="text" placeholder="Name" [(ngModel)]="addModName" (input)="bufferedPrefetchModToAdd(addModName)">
        </td>
        <td>
          <input *ngIf="addModPrefetch" class="input is-static" type="text" [value]="addModPrefetch.title" readonly>
        </td>
        <td>
          <p><a *ngIf="addModPrefetch" class="icon" href="https://mods.factorio.com/mod/{{addModName}}" target="_blank"><fa-icon class="fa-external-link" [icon]="linkIcon"></fa-icon></a></p>
        </td>
        <td>
          <div *ngIf="addModPrefetch" class="select" style="min-width: 50%;">
            <select style="min-width: 100%;" [(ngModel)]="addModPrefetch.selectedVersion">
              <option class="dropdown-item" *ngFor="let version of addModPrefetch.versions ?? []" value="{{version}}">{{version}}</option>
            </select>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

  <button id="save-button" class="button is-success" (click)="pushModList()" [ngClass]="{'is-loading': saveButtonLoading}">
    <span class="icon is-small">
      <fa-icon class="fa-fw" [icon]="saveShowTickIcon ? tickIcon : saveIcon"></fa-icon>
    </span>
    <span>Save</span>
  </button>

  <button id="sync-button" class="button" (click)="syncModalActive = true" [ngClass]="{'is-loading': syncButtonLoading}">
    <span class="icon is-small">
      <fa-icon class="fa-fw" [icon]="syncShowTickIcon ? tickIcon : syncIcon"></fa-icon>
    </span>
    <span>Sync with save</span>
  </button>

  <!-- modal for sync workflow -->
  <div class="modal" [ngClass]="{'is-active': syncModalActive}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <h3 class="title is-3">Sync mods with save</h3>
      </header>
      <section class="modal-card-body">
        <p>Syncing mods with an existing save will overwrite your entire mod list with the set of mods that were most recently used with the chosen save.</p>
        <select [(ngModel)]="syncSelectedSavename">
          <option class="dropdown-item" *ngFor="let savename of savenames ?? []" value="{{savename}}">{{savename}}</option>
        </select>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button is-success" (click)="syncModsWithSave(syncSelectedSavename!)" [disabled]="!syncSelectedSavename">Sync</button>
        </div>
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="syncModalActive = false"></button>
  </div>

</div>
