<div class="navbar-item has-dropdown" [ngClass]="{'is-active': notificationsExpanded}" (clickOutside)="notificationsExpanded = false">
  <a class="navbar-link" (click)="notificationsExpanded = !notificationsExpanded">
    Notifications ({{operationService.notifications.length}})
  </a>

  <div class="navbar-dropdown is-right">
    <a class="navbar-item" (click)="operationService.clearNotifications()">Clear</a>
    <hr class="navbar-divider">
    <div class="navbar-item" *ngFor='let notification of operationService.notifications'>
      <article class="media">
        <figure class="media-left">
          TBA
        </figure>
        <div class="media-content">
          <div class="content">
            <p>{{notification}}</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
