openapi: 3.0.0
info:
  title: Factorio Mod Portal API
  description: REST API for browsing and downloading mods from the Factorio Mod Portal, as documented at 
  version: 1.0.0

servers:
  - url: https://mods.factorio.com

paths:
  /api/mods/{mod_name}:
    get:
      summary: Return short information of a specific mod
      parameters:
        - name: mod_name
          in: path
          description: Name of the mod to fetch information on
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Short information of a specific mod
          content:
            application/json:
              schema:
                $ref:  "#/components/schemas/ModInfoShort"
  /api/mods/{mod_name}/full:
    get:
      summary: Returns more information of a mod
      parameters:
        - name: mod_name
          in: path
          description: Name of the mod to fetch information on
          required: true
          schema:
            type: string
      responses:
        '200':
          description: More information of a mod
          content:
            application/json:
              schema:
                $ref:  "#/components/schemas/ModInfoFull"

components:
  schemas:
    ModInfoShort:
      properties:
        name:
          type: string
        title:
          type: string
        owner:
          type: string
        summary:
          type: string
        downloads_count:
          type: integer
        releases:
          type: array
          items:
            $ref: '#/components/schemas/Release'
      required:
        - name
        - title
        - owner
        - summary
        - downloads_count
        - releases
    ModInfoFull:
      properties:
        name:
          type: string
        title:
          type: string
        owner:
          type: string
        summary:
          type: string
        downloads_count:
          type: integer
        releases:
          type: array
          items:
            $ref: '#/components/schemas/Release'
        changelog:
          type: string
        created_at:
          type: string
        description:
          type: string
        github_path:
          type: string
        homepage:
          type: string
        tag:
          type: array
          items:
            $ref: "#/components/schemas/Tag"
      required:
        - name
        - title
        - owner
        - summary
        - downloads_count
        - releases
        - changelog
        - created_at
        - description
        - github_path
        - homepage
        - tag
    InfoJson:
      properties:
        factorio_version:
          type: string
        dependencies:
          type: array
          items:
            type: string
      required:
        - factorio_version
    Release:
      properties:
        version:
          type: string
        download_url:
          type: string
        file_name:
          type: string
        released_at:
          type: string
          format: date-time
        info_json:
          $ref: '#/components/schemas/InfoJson'
        sha1:
          type: string
      required:
        - version
        - download_url
        - file_name
        - released_at
        - info_json
        - sha1
    Tag:
      properties:
        id:
          type: integer
        name:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
      required:
        - id
        - name
        - title
        - description
        - type
