<div class="tile is-ancestor">
  <div class="tile is-7 is-vertical is-parent">
    <div class="tile is-child box">
      <p>Status: {{status}}</p>
    </div>
    <div class="tile is-child box"><span>

      <div class="dropdown" [ngClass]="{'is-active': !savefileDropdownHidden}">
        <div class="dropdown-trigger">
          <button class="button" (click)="savefileDropdownHidden = !savefileDropdownHidden">
            <span>{{displaySavefileOpt(selectedSavefile)}}</span>
            <span class="icon is-small">
              <fa-icon class="fa-fw" [icon]="dropdownArrowIcon"></fa-icon>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a class="dropdown-item" *ngFor="let savefile of savefiles" (click)="setSelectedSavefile(savefile); toggleSavefileDropdown()">
              {{displaySavefile(savefile)}}
            </a>
          </div>
        </div>
      </div>

      <div>
        <button class="button is-success" [disabled]="startServerButtonDisabled" (click)="startServer()">
          <span class="icon is-small">
            <fa-icon class="fa-fw" [icon]="startServerIcon"></fa-icon>
          </span>
          <span>Start server</span>
        </button>

        <button class="button is-danger" [disabled]="stopServerButtonDisabled" (click)="stopServer()">
          <span class="icon is-small">
            <fa-icon class="fa-fw" [icon]="stopServerIcon"></fa-icon>
          </span>
          <span>Stop server</span>
        </button>
      </div>

    </span></div>
  </div>
  <div class="tile is-5 is-parent">
    <div class="tile is-child box">
      <p>Hi</p>
    </div>
  </div>
</div>
