<section>
  <nav class="navbar is-dark is-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <h1>fctrl</h1>
        </a>

        <a role="button" class ="navbar-burger" data-target="main-nav" (click)="onBurgerClick()" [ngClass]="{'is-active': navBurgerExpanded}">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div id="main-nav" class="navbar-menu" [ngClass]="{'is-active': navBurgerExpanded}">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/dashboard" routerLinkActive="is-active" (click)="onNavAway()">
            <fa-icon class="fa-fw" [icon]="navDashboardIcon"></fa-icon>&nbsp;Dashboard
          </a>
          <a class="navbar-item" routerLink="/server" routerLinkActive="is-active" (click)="onNavAway()">
            <fa-icon class="fa-fw" [icon]="navConfigIcon"></fa-icon>&nbsp;Config
          </a>
          <a class="navbar-item" routerLink="/mods" routerLinkActive="is-active" (click)="onNavAway()">
            <fa-icon class="fa-fw" [icon]="navModsIcon"></fa-icon>&nbsp;Mods
          </a>
          <a class="navbar-item" routerLink="/logs" routerLinkActive="is-active" (click)="onNavAway()">
            <fa-icon class="fa-fw" [icon]="navLogsIcon"></fa-icon>&nbsp;Logs
          </a>
          <app-logout></app-logout>
        </div>

        <div class="navbar-end">
          <app-notifications></app-notifications>
        </div>
      </div>
    </div>
  </nav>
</section>

<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
